.contact-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 18px;
  color: #666;
}

.sign-up-section, .sign-in-section {
  margin-bottom: 20px;
}

.sign-up-section h2, .sign-in-section h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

  article{
    background-image: linear-gradient(rgba(4, 101, 22, 0.8), rgba(5, 44, 12, 0.8)), url(./dashboard/images/contact\ us.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }